<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>{{config['WEBAPP_NAME']}}</title>
</head>
<body>

    <div style="text-align:center;margin-top:100px;font-family: 'Open Sans', sans-serif;">
        <h1><font color="#585858">You signed up successfully!</font> </h1>
    <div>
    <div style="text-align:center;margin-top:30px">
        <a href="/" style="font-family:'Open Sans',sans-serif;text-decoration:none">
            <font color="#084B8A">Go to Welcome Page</font>
        </a>    
    </div>
    
</body>