<!DOCTYPE HTML>
<html>
    <head>
        <title>{{config['WEBAPP_NAME']}}</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div style="text-align:center;margin-top:100px;font-family: 'Open Sans', sans-serif;">
            <h1><font color="#585858">Tracker Monitoring</font> </h1>
        <div>
        <div style="text-align:center;margin-top:30px;font-size:18px">
            <a href="/account/login" style="font-family:'Open Sans',sans-serif;">
                Sign In
            </a>    
        </div>
                
    </body>
</html>